
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<!-- Author: Kyle Roberts -->
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/forms.css">
	<title>Reverse - @ViewBag.Title</title>
</head>
<body>

	@{
		Html.RenderPartial("Main_Navigation_Bar");
	}

	<div id="page-container">

		<form id="form-container" action="/home/Edit_Animal_Update" method="POST">

			<h1 id="form-title">Editing @Model.Species</h1>

			<input type="hidden" name="SpeciesID" value="@Model.SpeciesID" />

			<h3 class="form-field-label">Population:</h3>
			<input name="Population" class="form-text-field" type="text" value="@Model.Population" placeholder="99" />

			<h3 class="form-field-label">Short Description:</h3>
			<textarea id="short-desc" name="ShortDesc" class="form-textarea-field" value="@Model.Description.DescriptionShort" placeholder="Short Description" maxlength="200"></textarea>

			<h3 class="form-field-label">Long Description:</h3>
			<textarea id="long-desc" name="LongDesc" class="form-textarea-field" value="@Model.Description.DescriptionLong" placeholder="Long Description" maxlength="2000"></textarea>

			<button id="form-submit-button" type="submit">Update</button>

		</form>

        <script>
            document.getElementById("short-desc").innerText = "@Model.Description.DescriptionShort";
            document.getElementById("long-desc").innerText = "@Model.Description.DescriptionLong";
        </script>

	</div>
</body>
</html>
